.bug {
  width: 65px;
  height: 45px;
  bottom: 80px;
  background-image: url(./enemies/jira-bug.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;

  &.active {
    animation: bugMove 600ms linear infinite;

    .enemy-score {
      opacity: 0;
    }
  }

  &.destroyed {
    background-position: -134px 0;
    animation: bugDie 600ms ease-out 480ms forwards !important;
  }
}

.enemy-score {
  bottom: -30px;
}

.task {
  width: 76px;
  height: 80px;
  bottom: 80px;
  background-image: url(./enemies/jira-task.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;

  &.active {
    animation: taskMove 400ms linear infinite;

    .enemy-score {
      opacity: 0;
    }
  }

  &.destroyed {
    background-position: -212px 0;
    animation: taskDie 600ms ease-out 480ms forwards !important;
  }
}

.explode {
  width: 17px;
  height: 45px;
  bottom: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./enemies/explosion.png);
  background-position: 100px 0;
  animation: explode 1500ms ease-in-out forwards !important;

  .enemy-score {
    display: none;
  }
}

.destroyed {
  transition: transform 400ms;


  &.left .enemy-score {
    animation: showScoreLeft 1200ms ease-in-out 200ms forwards;
  }

  &.right .enemy-score {
    animation: showScoreRight 1200ms ease-in-out 200ms forwards;
  }
}

.die {
  animation: unset !important;
  transition: bottom 800ms;
  bottom: -200px; 
}

@keyframes showScoreLeft {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  90% {
    transform: translate(0, -100px);
  }
  100% {
    opacity: 0;
    transform: translate(0, -100px);
  }
}

@keyframes showScoreRight {
  0% {
    opacity: 0;
    transform: translate(0, 0) scale(-1, 1);
  }
  20% {
    opacity: 1;
  }
  90% {
    transform: translate(0, -100px) scale(-1, 1);
  }
  100% {
    opacity: 0;
    transform: translate(0, -100px) scale(-1, 1);
  }
}

@keyframes taskMove {
  0%, 50% { background-position: 0 0; }
  50.01%, 100% { background-position: -103px 0; }
}

@keyframes bugMove {
  0%, 50% { background-position: 0 0; }
  50.01%, 100% { background-position: -67px 0; }
}

@keyframes bugDie {
  0% {
    background-position: -134px 0;
  }
  100% {
    background-position: -134px 160px;
  }
}

@keyframes taskDie {
  0% {
    background-position: -212px 0;
  }
  100% {
    background-position: -212px 160px;
  }
}

@keyframes explode {
  0%, 5% {
    background-position: 0 0;
    width: 17px;
  }
  5.01%, 15% {
    width: 30px;
    background-position: -14px 0;
  }
  15.01%, 40% {
    width: 42px;
    background-position: -47px 0;
  }
  40.01%, 50% {
    width: 50px;
    background-position: -89px 0;
  }
  50.01%, 60% {
    width: 50px;
    background-position: -141px 0;
  }
  60.01%, 70% {
    width: 50px;
    background-position: -194px 0;
  }
  70.01%, 80% {
    width: 50px;
    background-position: -248px 0;
  }
  80.01%, 90% {
    width: 50px;
    background-position: -248px 0;
  }
  90.01%, 100% {
    width: 50px;
    background-position: -350px 0;
  }
}

.petya {
  width: 80px;
  height: 80px;
  border: 4px solid;
  border-radius: 50%;
  background-image: url(./boss/petya.png);
  background-size: contain;
  animation: petya1 1500ms ease-in 3000ms forwards, petya2 2000ms ease-out 5000ms forwards, petya3 1500ms ease-out 7500ms forwards;
  transform: translate(-100px, 0);
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 2;
}

.tear {
  background-image: url(./boss/tear.png);
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;

  &:first-of-type {
    left: 10px;
    top: 45px;
    animation: tear1 2000ms cubic-bezier(0.32, 0, 0.67, 0) 5200ms forwards;
  }

  &:last-of-type {
    top: 26px;
    left: 30px;
    animation: tear2 1500ms cubic-bezier(0.32, 0, 0.67, 0) 5600ms forwards;
  }
}

@keyframes tear2 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  99% {
    opacity: 1;
    transform: translate(0, 200px);
  }
  100% {
    opacity: 0;
    transform: translate(0, 200px);
  }
}

@keyframes tear1 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  99% {
    opacity: 1;
    transform: translate(0, 370px);
  }
  100% {
    opacity: 0;
    transform: translate(0, 370px);
  }
}

@keyframes petya1 {
  0% {
    transform: translate(-100px, 0);
  }
  100% {
    transform: translate(560px, 0);
  }
}

@keyframes petya2 {
  0% {
    transform: translate(560px, 0) scale(1);
  }
  20% {
    transform: translate(560px, 0) scale(1.4);
  }
  40% {
    transform: translate(560px, 0) scale(1);
  }
  60% {
    transform: translate(560px, 0) scale(1.4);
  }
  80% {
    transform: translate(560px, 0) scale(1);
  }
  100% {
    transform: translate(560px, 0) scale(1);
  }
}

@keyframes petya3 {
  0% {
    transform: translate(560px, 0);
  }
  99% {
    transform: translate(1300px, 0);
  }
  100% {
    display: none;
    transform: translate(1300px, 0);
  }
}