.level2 {
  background-color: #1B1212;
  color: #fff;

  .game-body {
    background-color: #fff;
    width: 1200px;
    height: 600px;
    margin: auto;
    position: relative;
    top: calc((100vh / 2) - 300px);
    background-image: url("./level2/level2.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }
}

.tube-small,
.tube-mid,
.tube-large,
.client-green,
.client-blue,
.void {
  bottom: 80px;
}

.brick-transparent,
.wall {
  bottom: 80px;
}

.client-green,
.client-blue {
  background-size: 20px;
  transform-origin: 10px 120px;
}

.client-green {
  background-image: url("./level2/fire-green.gif");
}

.client-blue {
  background-image: url("./level2/fire-blue.gif");
}