html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: #1B1212;
}

section {
  width: 100vw;
  height: 100vh;
}

.powered {
  position: fixed;
  bottom: 70px;
  right: -70px;
  z-index: 99;
  display: flex;
  white-space: nowrap;
  font-size: 10px;
  align-items: center;
  color: #fff;
  transform: rotate(90deg);

  svg {
    width: 40px;
    transform: rotate(-90deg);

    path {
      fill: #fff;
    }
  }
}

.obstacles,
.enemies {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  div {
    position: absolute;
  }
}

.score {
  position: absolute;
  z-index: 9;
  color: #fff;
  font-size: 12px;
  top: 20px;
  left: 20px;
}

.dialog-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;

  dialog {
    min-width: 300px;
    max-width: 1200px;
  }

  .lead {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    border: 4px solid;
  }

  .dontlike-container {
    width: 800px;
    height: 400px;
  }

  .dontlike {
    position: absolute;
    top: 600px;

    &-1 {
      left: 0px;
      top: 0px;
    }

    &-2 {
      left: 400px;
      top: 80px;
      z-index: 2;
    }
    &-3 {
      left: 20px;
      top: 90px;
      z-index: 1;
    }
    &-4 {
      left: 470px;
      top: -20px;
    }
    &-5 {
      left: 345px;
      top: 197px;
      z-index: 2;
    }
    &-6 {
      left: 3px;
      top: 197px;
      z-index: 1;
    }
    &-7 {
      left: 3px;
      top: 308px;
    }
    &-8 {
      left: 438px;
      top: 308px;
      z-index: 2;
    }
  }
}

.nes-dialog {
  overflow: hidden;
}

.abilities {
  position: absolute;
  bottom: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  p {
    font-size: 11px;
    margin: 0;
    padding: 2px;
    background-color: black;
  }
}

.call-lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .leads {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    animation: leads 5000ms infinite;

    .pending {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;

      &.active {
        background: rgba(0,0,0,0.8);
        animation: lead-pending 20s forwards;
      }
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid black;
      position: absolute;
      top: 0;
      left: 0;
      display: none;

      &.active {
        display: block;
      }
    }

    &.activated {
      animation: activateLead 1000ms ease-in-out forwards;
    }
  }
}

.no-way {
  position: absolute;
  bottom: 42px;
  left: 75px;

  span {
    font-size: 11px;
    color: black;
    white-space: nowrap;
  }
}

@keyframes activateLead {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(-30deg);
  }
  30% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  70% {
    transform: rotate(30deg);
  }
  80% {
    transform: rotate(-30deg);
  }
  90% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.fatality {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  animation: fatality 700ms forwards;
  font-size: 60px;
  top: 250px;
  z-index: 99;
}

@keyframes fatality {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

.lightning {
  position: absolute;
  z-index: 99;
  width: 200px;
  height: 0px;
  overflow: hidden;
  animation: lightning 1000ms 300ms forwards;
}

.lightning2 {
  position: absolute;
  right: 120px;
  z-index: 99;
  width: 200px;
  height: 0px;
  overflow: hidden;
  animation: lightning 1000ms 300ms forwards;
  transform: scale(-1, 1)
}

@keyframes lightning {
  0% {
    height: 0px;
  }
  100% {
    height: 600px;
  }
}

@keyframes lead-pending {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 50px);
  }
}

p.small {
  font-size: 8px !important;
}

p.med {
  font-size: 14px !important;
}